{% extends "base.html.twig" %}
{% block view %}
    {% include 'partials/modal.html.twig' %}
    <table class="table table-responsive-sm">
        <thead class="header">
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <button type="button" class="AddButton btn--gray form-control" data-day="Monday" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
                {% for time in sessions['monday'] %}
                    <li>{{ time.startsAt.date }}</li>
                {% endfor %}
            </td>

            <td>
                <button type="button" class="AddButton btn--gray form-control" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
            </td>
            <td>
                <button type="button" class="AddButton btn--gray form-control" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
            </td>
            <td>
                <button type="button" class="AddButton btn--gray form-control" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
            </td>
            <td>
                <button type="button" class="AddButton btn--gray form-control" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
            </td>
            <td>
                <button type="button" class="AddButton btn--gray form-control" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
            </td>
            <td>
                <button type="button" class="AddButton btn--gray form-control" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('build/js/times.js') }}" > </script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('build/css/add-time.css') }}">
{% endblock %}
