{% extends "base.html.twig" %}
{% block view %}
    {% include 'partials/modal.html.twig' %}
    {% include 'partials/removeTimeWarning.html.twig' %}
    {% for data in availability_data %}
        {#{{ dump(data.getDayOfWeek()) }}#}
    {% endfor %}

    <table class="table table-responsive-sm">
        <thead class="header">
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="TimeButton btn--adult mt-2" data-id="0">
                    <div class="TimeButton_close"><i class="fas fa-times DeleteTheTime"  data-toggle="modal" data-target="#warningDelete"></i></div>
                    18:00 - 20:00<br>
                    <div class="AddButton_price">120 €</div>
                </div>
                <div class="TimeButton btn--kids mt-2" data-id="1">
                    <div class="TimeButton_close"><i class="fas fa-times DeleteTheTime"  data-toggle="modal" data-target="#warningDelete"></i></div>
                    18:00 - 20:00<br>
                    <div class="AddButton_price">120 €</div>
                </div>
                <div class="TimeButton btn--adult mt-2" data-id="2">
                    <div class="TimeButton_close"><i class="fas fa-times DeleteTheTime"  data-toggle="modal" data-target="#warningDelete"></i></div>
                    18:00 - 20:00<br>
                    <div class="AddButton_price">120 €</div>
                </div>

                <button type="button" class="AddButton btn--gray form-control mt-2" data-day="Monday" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
            </td>

            <td>
                <button type="button" class="AddButton btn--gray form-control" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
            </td>
            <td>
                <button type="button" class="AddButton btn--gray form-control" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
            </td>
            <td>
                <button type="button" class="AddButton btn--gray form-control" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
            </td>
            <td>
                <button type="button" class="AddButton btn--gray form-control" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
            </td>
            <td>
                <button type="button" class="AddButton btn--gray form-control" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
            </td>
            <td>
                <button type="button" class="AddButton btn--gray form-control" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('build/js/times.js') }}" > </script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('build/css/add-time.css') }}">
{% endblock %}
