{% extends "base.html.twig" %}
{% block view %}
    {% include "partials/modal.html.twig" %}
    {% include "partials/modalWarning.html.twig" %}
    <div class="container">
        <div id="calendar"></div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        let data = {{ sessions|json_encode|raw }};
    </script>
    <script src="{{ asset("build/js/times.js") }}"> </script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset("build/css/add-time.css") }}">
{% endblock %}
