<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="divider"></li>
      <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-clipboard-list mr-3"></i>  Registrations
        </a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/times">
                <i class="far fa-calendar-alt mr-3"></i> Add times
            </a>
        </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>