<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        {% include 'partials/head.html.twig' %}
        {% block styles %}{% endblock %}
        {% block canonical_meta %}{% endblock %}
    </head>
    <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <form id="login-form" class="modal">
        First name:<br>
        <input type="text" name="firstname"><br>
        Last name:<br>
        <input type="text" name="lastname">
    </form>
        {% include 'partials/header.html.twig' %}
        <div class="app-body">
            {% include 'partials/sidebar.html.twig' %}
            <main class="main">
                {% include 'partials/breadcrumb.html.twig' %}
                <div class="container-fluid">
                    {% block view %}{% endblock %}
                </div>
            </main>
        </div>
        {% include 'partials/scripts.html.twig' %}
        {% block scripts %}{% endblock %}
    </body>
</html>
